.navbar{
  border: solid black;
  width: 1000px;
  height: 125px;
  background-color: #444541;
  color: #ac194a;
  font-size: 50px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  /*display: inline-block;*/
  cursor: pointer;
  margin: auto;

}
.space{
  height: 0.1px;

}
a {
  color: inherit;
  text-decoration: none;
}
/* Popup container */

/* The actual popup (appears on top) */
.navbar .popuptext {
   visibility: hidden;
   width: 500px;
   height: 150px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   top: 24;
   bottom: 10;
   /*padding-top: 400px;*/
   /*right: 40%;*/
   left: 250;
   margin: auto;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
}

/* Popup arrow */
/*.popup .popuptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.navbar .show {
   visibility: visible;
   -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity:1 ;}
}
